*{
    padding: 0;
    margin: 0;
}

body{
    /*background-color:#DBFFE5;*/
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

a:hover{
    color:black;
}

a:visited{
    color:black
}

h3{
    text-align: center;
    text-decoration: underline;
}

.wrapper{
    display: grid;
    padding: 20px;
    grid-template-areas: "header header header"
                         "title-1 title-1 title-1"
                         "def-1 def-2 def-3";
    grid-gap: 20px;
}

.header{
    grid-area: header;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.header a{
    background-color: #FFCE97;
    border-radius: 5px;
    padding: 5px;
    margin: 0 5px;
}


.title-1{
    grid-area: title-1;
    text-align: center;
    border-radius: 20px;
}

.def-1, .def-2, .def-3{
    text-align: justify;
}

.def-1-container,
.def-2-container,
.def-3-container{
    background-color: #FFCE97;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0px 2px 4px #000;
    transition: 300ms;
}

.def-1-container:hover,
.def-2-container:hover,
.def-3-container:hover{
    transform: translate(0,-10px);
}

.def-1-container a,
.def-2-container a,
.def-3-container a{
    text-decoration: underline;
}

.def-1-container{
    grid-area: def-1;
}

.def-1-container ul{
    /*list-style-type: none;*/
    padding-left: 20px;
}

.def-2-container{
    grid-area: def-2;
}

.def-3-container{
    grid-area: def-3;
}

@media screen and (max-width:768px){
    .wrapper{
        display: grid;
        grid-template-areas: "header header header"
                         "title-1 title-1 title-1"
                         "def-1 def-1 def-1"
                         "def-2 def-2 def-2"
                         "def-3 def-3 def-3";
    }
}

