*{
    padding: 0;
    margin: 0;
}

body{
    background-color:#DBFFE5;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

nav{
    width: 100%;
    margin-top: 5px;
}

p{
    margin: 0 20px;
    text-align: justify;
}

a{
    text-decoration: none;
    margin: auto;
    text-align: center;

}
a:hover{
    color: black;
}

a:visited{
    color:black;
}

.list{
    margin-left: 20px;
    margin-top:10px;
}

article{
    margin: 20px;
    background-color: #3CAEA3;
    border-radius: 10px;
    box-shadow: 1px 2px;
}

section{
    margin-left: 20px;
}

.title{
    margin: 10px 0;
    text-decoration: underline;
    text-align: center;
}


.nav-button-container{
    width: 345px;
    margin: 0 auto;
    border-radius: 20em;
    background-color: #ACFFC9;
}

.nav-button{
    display: inline-block;  
    margin: 0 30px;
}

.nav-button-center-button{
    border-left: 3px solid #DBFFE5;
    border-right: 3px solid #DBFFE5;
    padding: 0 20px;
    display: inline-block;  

}

.fuente-link{
    margin: 0 20px;
    text-decoration: underline;
}





